<div class="row bg-dark text-white p-1">
    <header class="d-flex justify-content-between align-items-center">
        <div>
            <ul class="nav">
                <li class="nav-link text-secondary">소개</li>
                <li class="nav-link text-secondary">게시판</li>
                <li class="nav-link text-secondary">채팅</li>
                <li class="nav-link text-secondary">설정</li>
            </ul>
        </div>
        <form class="d-flex p-1">
            <input type="text" class="form-control m-1" placeholder="Search...">
            <a href="../home/login.ejs" class="btn btn-light m-1">Login</a>
            <a href="../home/join.ejs" class="btn btn-warning m-1">Join</a>
        </form>
    </header>
</div>